[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
